.section1 {
    background-color: rgb(58, 58, 180) !important;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.section2 {
    color: rgb(0, 0, 0);
    background-color: rgb(219, 219, 219);
}

.section3 {
    color: white;
}

.section4 {
    background-color: rgb(219, 219, 219);
}

.section5 {
    background-color: rgb(219, 219, 219);
}

.blueBack {
    background-color: rgb(58, 58, 180);
}

header {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.border {
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid #000000;
}

th,
td {
    padding: 5px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding-bottom: 4px;
}

.btn {
    background-color: rgb(219, 219, 219);
    padding: 0 10px;
    font-size: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    height: 100%;
    border: 3px solid rgb(219, 219, 219);
    box-sizing: border-box;
}

.btn:hover {
    background-color: #F2F5F1;
    color: rgb(108, 108, 108);
}
.active {
    background-color: #F2F5F1;
    color: black;
}

.first-page-btn, .last-page-btn {
    width: 200px;
}
.pages-btns > button {
    margin-right: 5px;
}
.btncolor {
    background-color: rgb(219, 219, 219);
    padding: 0 10px;
    font-size: 100%;
    font-weight: small;
    color: rgb(77, 77, 77);
    outline: none;
    cursor: pointer;
    height: 100%;
    border: 3px solid rgb(219, 219, 219);
    box-sizing: border-box;
}

.btncolor1 {
    background-color: rgb(58, 58, 180);
    padding: 0 10px;
    font-size: 100%;
    font-weight: small;
    color: white;
    outline: none;
    cursor: pointer;
    height: 100%;
    border: 3px solid rgb(58, 58, 180);
    box-sizing: border-box;
}
.button1 {
    text-align: center;
    padding: 10px; 
}
@media (max-width: 576px) or (orientation: portrait){
    input, select {
        width: 100%;
    }
}